{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Login Here.</h2>
            <form method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <input type="submit" value="Login" class="btn btn-outline-primary">
            </form>
        </div>
    </div>
{% endblock %}