{% extends "base.html" %}
{% block title %} My Courses {% endblock %}
{% block content %}
    <div class="container bg-light">
        <div class="courses">
            {% for course in object_list %}
                <div class="course-bx">
                    <h2><a href="{% url 'course_detail' c.slug %}">{{ c.title|title }}</a></h2>
                    <p>
                        <a href="{% url 'student_course_detail' course.id %}">\
                            Access Contents
                        </a>
                    </p>
                </div>
            {% empty %}
                <p class="lead text-muted">
                    You haven't enrolled in any courses yet!
                    <a href="{% url 'course_list' %}">Browse All courses</a>
                    to enroll in course and get started to boost your career.
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}