{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Student Registration
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">Sign Up</h2>
            <form method="post">
                <fieldset>
                    <legend>Enter your details to create an account:</legend>
                    {{ form|crispy }}
                    {% csrf_token %}
                    <input type="submit" value="Create my Account" class="btn btn-info btn-lg">
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}